{% load i18n %}

{% block subject %}
{% blocktrans %}Password reset on {{ site_name }}{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans trimmed%}You're receiving this email because you requested a
password reset for your user account at {{ site_name }}.{% endblocktrans %}

Логин: {{ user.get_username }}
Новый пароль: {{ new_password }}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>
    {% blocktrans trimmed%}You're receiving this email because you requested a
    password reset for your user account at {{ site_name }}.{% endblocktrans %}
</p>

<p>Логин: <b>{{ user.get_username }}</b></p>
<p>Новый пароль: <b>{{ new_password }}</b></p>

<p>{% trans "Thanks for using our site!" %}</p>

<p>{% blocktrans %}The {{ site_name }} team{% endblocktrans %}</p>
{% endblock html_body %}
